* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.background-head{
    background-color:rgb(0, 133, 111);
    height: 58px;
}
.background-section{
    background-color:rgb(220, 233, 226);
    height: 72px;
}
.background-herosection{
    background-color:rgb(220, 233, 226);
    height: 606px;
}
.background-servisossection{
    background-color:rgb(247, 249, 249);
    height: 1082px;
}
.background-sobresection{
    background-color:rgb(255, 250, 241);
    height: 734px;
}
.background-contatosection{
    background-color:rgb(255, 255, 255);
    height: 699px;
}
.background-footer{
    background-color:rgb(0, 133, 111);
    height: 268px;
}
.box-size{
    width: 1366px;
    margin: 0 calc(50% - 683px);
}
.fon{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 3.5rem;
    background-color: rgb(0, 133, 111, 1);
    font-family: 'DM Sans', sans-serif;
    
}
.text{
    color: #fff;
    margin-left: 125px;
    font-size: 1.2rem;
    
}
.navigation{
    display:flex;
    
    
}
.navigation ul{
    display:flex;
    gap: 30px;
    
}
.navigation ul li{
    list-style: none;
    
}
.navigation ul li a{
    text-decoration: none;
    color: rgba(255, 250, 250, 0.5);
    font-family: 'DM Sans', sans-serif;
    border-bottom: 2px solid transparent;
    padding-bottom: 1rem;
    
 
}
.navigation ul li a:hover,
.navigation ul li>.active{
    border-color: #fff;
    color: #fff;
    
}
 .navButton {
    width: 12rem;
    height: 2.2rem;
    font-size: 14px;
    border: solid 1px #fff;
    color: #fff;
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 125px;
    transition: all 0,1s ease-in-out;
}
.navButton:hover{
    background-color: #fff;
    color: rgb(0, 133, 111, 1);;
}
.body>.antra{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-top:120px;
}
.box-size{
    width: 1366px;
    margin: 0 calc(50%-683);
}
.fon2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: rgb(220, 233, 226);
    font-family: 'DM Sans', sans-serif;
    margin-top: 50px;
}
.text3{
    color: #000;
    margin-left: 125px;
    font-size: 1.2rem;
    
}
.text5{ 
    font-weight: bold;
    color: rgb(0, 133, 111, 1);
    }

.navigation2{
    display:flex;
    
    
}
.navigation2 ul{
    display:flex;
    gap: 30px;
    
}
.navigation2 ul li{
    list-style: none;
    
}
.navigation2 ul li a{
    text-decoration: none;
    color: rgb(0, 133, 111, 0.5);
    font-family: 'DM Sans', sans-serif;
    border-bottom: 2px solid transparent;
    padding-bottom: 1rem;
    
 
}
.navigation2 ul li a:hover,
.navigation2 ul li>.active2{
    border-color: rgb(0, 133, 111, 1);
    color: rgb(0, 133, 111, 1);
    
}
 .navButton2 {
    width: 12rem;
    height: 2.2rem;
    font-size: 14px;
    border: solid 1px rgb(0, 133, 111, 1);
    color:rgb(0, 133, 111, 1);
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 125px;
    transition: all 0,1s ease-in-out;
}
.navButton2:hover{
    background-color: #00856f;;
    color: #fff;
}
body .herosection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 125px;
    height: 606px;
    background-color: rgb(220, 233, 226);
}
   
.left-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    width: 40%;
    margin-bottom: 80px;
    
    
    
}
.herosection>.left-column>.heat-text{
    color: rgb(0, 133, 111, 1);
    font-weight: bold;
    font-size: 1rem;
}
.herosection-tittle{
    font-size: 50px;
    font-weight: 900;
}
.right-column{
    
}
.left-column>.button-herosection{
    width: 16rem;
    height: 2.9rem;
    font-size: 14px;
    border: solid 1px #fff;
    color: #fff;
    background-color: rgb(0, 133, 111, 1);
    font-family: 'DM Sans', sans-serif;
    border-radius: 40px;
    cursor: pointer;
   
      
}
.button-herosection:hover{
    background-color: rgb(12, 79, 67);
}
.left-column>.button-herosection>.fa-whatsapp {
    font-size: 20px;
    text-decoration: none;
    padding:0 8px;
}
body .servisossection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(247, 249, 249, 1);
    height: 1082px;
    gap: 50px;
}
.textservisos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 164px;
    
}

.textservisos>.heat-text{
    color: rgb(0, 133, 111, 1);
    font-weight: bold;
    font-size: 20px;
    margin-top: 100px;
}
.tittle2{
    font-size: 44px;
    text-align: center;
    top: 300px;

}


.card-services{
    margin: 50px 125px;
    padding: 5px;
    display: grid;
    grid-template-columns:
    repeat(3, 1fr);
    grid-template-rows:
    repeat(2, 1fr);
    gap: 50px 50px;

}

.grid-item{
    display:flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    border-color:rgb(153, 154, 154) ;
    padding: 24px;  
    border-radius: 6px;
    border: 1px;
    gap: 16px;
    
}

.fa-check{
    padding: 0.5rem;
    border-radius: 1rem;
    color:#00856f;
    background-color:rgb(220, 233, 226) ;
    
}
h2 p{
    padding-top: 2px;
}
.ápice{
    font-family: 'DM Sans';
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;

}
.div-servisos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 1120px;
    height: 210px;
    padding: 40px 100px;
    left: 125px;
    position: absolute;
    top:690px;
    background-color: #fff;
    border: 1px;
    border-radius: 6px;
   
  }
  .pacientos{
    color: #00856f;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .div-servisos .numero{
    position: relative;
  }
  .div-servisos .numero + .numero::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 83px;
    background-color:#00856f;
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sobresection{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 734px;
    gap: 75px;
    background-color: rgb(255, 250, 241);
    
  }

  .sobresection>.group25{
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 327px;
    width: 573px;
    gap:16px;
    
    
    
  }

  .group25>.sobreslovo{
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #00856f;
    font-weight: bold;
    
  }

  .tittle{
    font-size: 40px;
    line-height: 52.08px;
    font-weight:bold;
    
  }

  .sobretext{
    font-size: 1rem;
    line-height: 1.5rem;
    
  }
  .contatosection{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 699px;
    gap: 125px;
    background-color: rgb(255, 255, 255);   
    
  }
  .group28{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 304px;
    gap: 20px;
  }
  .group28-email,
  .group28-address{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    color: #000;
    line-height: 24px;
  }
  .button-group28{
    width: 267px;
    height: 56px;
    font-size: 14px;
    border: solid 1px #fff;
    color: #fff;
    background-color: rgb(0, 133, 111, 1);
    font-family: 'DM Sans', sans-serif;
    border-radius: 40px;
    padding: 16px 32px;
    gap:16px;
    cursor: pointer;
  }
  .button-group28>.fa-whatsapp {
    font-size: 20px;
    text-decoration: none;
    padding: 0 8px 10px;
  }
  .fa-map-marker,
  .fa-envelope-o{
    color:#00856f;
    height: 24px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 0;
    
    
  }

