* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.background-head{
    background-color:#00856f;
    height: 3.6rem;
}
.background-section{
    background-color:rgb(220, 233, 226);
    height: 4.5rem;
}
.background-herosection{
    background-color:rgb(220, 233, 226);
    height: 38rem;
}
.background-servisossection{
    background-color:rgb(247, 249, 249);
    height: 67.63rem;
}
.background-sobresection{
    background-color:rgb(255, 250, 241);
    height: 46rem;
}
.background-contatosection{
    background-color:rgb(255, 255, 255);
    height: 44rem;
}
.background-footer{
    background-color:rgb(0, 133, 111);
    height: 16.75rem;
}
.box-size{
    width: 85.37rem;
    margin: 0 calc(50% - 683px);
}
.fon{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 3.5rem;
    background-color: rgb(0, 133, 111, 1);
    font-family: 'DM Sans', sans-serif;
    
}
.text{
    color: #fff;
    margin-left: 8rem;
    font-size: 1.2rem;
    
}
.navigation{
    display:flex;
    
    
}
.navigation ul{
    display:flex;
    gap: 1.9rem;
    
}
.navigation ul li{
    list-style: none;
    
}
.navigation ul li a{
    text-decoration: none;
    color: #fffafa80;
    font-family: 'DM Sans', sans-serif;
    border-bottom: 0.125rem solid transparent;
    padding-bottom: 1rem;
    
 
}
.navigation ul li a:hover,
.navigation ul li>.active{
    border-color: #fff;
    color: #fff;
    
}
 .navButton {
    width: 12rem;
    height: 2.2rem;
    font-size: 0.875rem;
    border: solid 1px #fff;
    color: #fff;
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    border-radius: 2.5rem;
    cursor: pointer;
    margin-right: 7.8rem;
    transition: all 0,1s ease-in-out;
}
.navButton:hover{
    background-color: #fff;
    color: #00856f;;
}
.body>.antra{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-top:7.5rem;
}
.box-size{
    width: 85rem;
    margin: 0 calc(50%-42.5rem);
}
.fon2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    background-color: #dce9e2;
    font-family: 'DM Sans', sans-serif;
    margin-top: 3.125rem;
}
.text3{
    color: #000;
    margin-left: 7.8rem;
    font-size: 1.2rem;
    
}
.text5{ 
    font-weight: bold;
    color: #00856f;
    }

.navigation2{
    display:flex;
    
    
}
.navigation2 ul{
    display:flex;
    gap: 1.9rem;
    
}
.navigation2 ul li{
    list-style: none;
    
}
.navigation2 ul li a{
    text-decoration: none;
    color: #00856f80;
    font-family: 'DM Sans', sans-serif;
    border-bottom: 2px solid transparent;
    padding-bottom: 1rem;
    
 
}
.navigation2 ul li a:hover,
.navigation2 ul li>.active2{
    border-color: #00856f;
    color: #00856f;
    
}
 .navButton2 {
    width: 12rem;
    height: 2.2rem;
    font-size: 0.87rem;
    border: solid 1px #00856f;
    color:#00856f;
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    border-radius: 2.5rem;
    cursor: pointer;
    margin-right: 7.8rem;
    transition: all 0,1s ease-in-out;
}
.navButton2:hover{
    background-color: #00856f;;
    color: #fff;
}
body .herosection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7.8rem;
    height: 37.87rem;
    background-color: #dce9e2;
}
   
.left-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.9rem;
    width: 40%;
    margin-bottom: 5rem;
    
    
    
}
.herosection>.left-column>.heat-text{
    color: #00856f;
    font-weight: bold;
    font-size: 1rem;
}
.herosection-tittle{
    font-size: 3.12rem;
    font-weight: bold;
}
.right-column{
    
}
.left-column>.button-herosection{
    width: 16rem;
    height: 2.9rem;
    font-size: 0.87rem;
    border: solid 1px #fff;
    color: #fff;
    background-color: #00856f;
    font-family: 'DM Sans', sans-serif;
    border-radius: 2.5rem;
    cursor: pointer;
   
      
}
.button-herosection:hover{
    background-color: #0c4f43;
}
.left-column>.button-herosection>.fa-whatsapp {
    font-size: 1.25rem;
    text-decoration: none;
    padding:0 0.5rem;
}
body .servisossection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f9f9;
    height: 67.6rem;
    gap: 3.12rem;
}
.textservisos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10.25rem;
    
}

.textservisos>.heat-text{
    color: #00856f;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 6.25rem;
}
.tittle2{
    font-size: 2.75rem;
    text-align: center;
    top: 18.7rem;

}


.card-services{
    margin: 3.12rem 7.8rem;
    padding: 0.31rem;
    display: grid;
    grid-template-columns:
    repeat(3, 1fr);
    grid-template-rows:
    repeat(2, 1fr);
    gap: 3.1rem 3.1rem;

}

.grid-item{
    display:flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    border-color:#999a9a ;
    padding: 1.5rem;  
    border-radius: 0.37rem;
    border: 1px;
    gap: 1rem;
    
}

.fa-check{
    padding: 0.5rem;
    border-radius: 1rem;
    color:#00856f;
    background-color:#dce9e2 ;
    
}
h2 p{
    padding-top: 2px;
}
.ápice{
    font-family: 'DM Sans';
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.9rem;
    letter-spacing: 0em;
    text-align: center;

}
.div-servisos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 70rem;
    height: 13rem;
    padding: 2.5rem 6.25rem;
    left: 7.8rem;
    position: absolute;
    top: 43rem;
    background-color: #fff;
    border: 1px;
    border-radius: 0.37rem;
   
  }
  .pacientos{
    color: #00856f;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .div-servisos .numero{
    position: relative;
  }
  .div-servisos .numero + .numero::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 5.18rem;
    background-color:#00856f;
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sobresection{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 46rem;
    gap: 4.7rem;
    background-color: #fffaf1;
    
  }

  .sobresection>.group25{
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 20.5rem;
    width: 36rem;
    gap:1rem;
    
    
    
  }

  .group25>.sobreslovo{
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #00856f;
    font-weight: bold;
    
  }

  .tittle{
    font-size: 2.5rem;
    line-height: 3.13rem;
    font-weight:bold;
    
  }

  .sobretext{
    font-size: 1rem;
    line-height: 1.5rem;
    
  }
  .contatosection{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 44rem;
    gap: 7.8rem;
    background-color: #ffffff;   
    
  }
  .group28{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 19rem;
    gap: 1.25rem;
  }
  .group28-email,
  .group28-address{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    font-size: 1rem;
    color: #000;
    line-height: 1.5rem;
  }
  .button-group28{
    width: 16.7rem;
    height: 3.5rem;
    font-size: 0.87rem;
    border: solid 1px #fff;
    color: #fff;
    background-color: #00856f;
    font-family: 'DM Sans', sans-serif;
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    gap: 1rem;
    cursor: pointer;
  }
  .button-group28>.fa-whatsapp {
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0 0.5rem 0.7rem;
  }
  .fa-map-marker,
  .fa-envelope-o{
    color:#00856f;
    height: 1.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0.31rem 0;
    
    
  }
  .footer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: #00856f;
    height: 16.8rem;
  }
  .group29{
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7.8rem;
    gap: 1.25rem;
  }
 
  .socials{
    display: flex;
    margin-right: 7.8rem;
    gap: 3.12rem;
    
  }
  .socials>.mygtuka{
    color:#fff;
    text-decoration: none;
    font-size: 1.87rem;
       
  }
  

