* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.background-head{
    background-color:rgb(0, 133, 111);
    height: 58px;
}
.background-section{
    background-color:rgb(220, 233, 226);
    height: 72px;
}
.background-herosection{
    background-color:rgb(220, 233, 226);
    height: 606px;
}
.background-servisossection{
    background-color:rgb(247, 249, 249);
    height: 1082px;
}
.background-sobresection{
    background-color:rgb(255, 250, 241);
    height: 734px;
}
.background-contatosection{
    background-color:rgb(255, 255, 255);
    height: 699px;
}
.background-footer{
    background-color:rgb(0, 133, 111);
    height: 268px;
}
.box-size{
    width: 1366px;
    margin: 0 calc(50% - 683px);
}
.fon{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 3.5rem;
    background-color: rgb(0, 133, 111, 1);
    font-family: 'DM Sans', sans-serif;
    
}
.text{
    color: #fff;
    margin-left: 125px;
    font-size: 1.2rem;
    
}
.navigation{
    display:flex;
    
    
}
.navigation ul{
    display:flex;
    gap: 30px;
    
}
.navigation ul li{
    list-style: none;
    
}
.navigation ul li a{
    text-decoration: none;
    color: rgba(255, 250, 250, 0.5);
    font-family: 'DM Sans', sans-serif;
    border-bottom: 2px solid transparent;
    padding-bottom: 1rem;
    
 
}
.navigation ul li a:hover,
.navigation ul li>.active{
    border-color: #fff;
    color: #fff;
    
}
 .navButton {
    width: 12rem;
    height: 2.2rem;
    font-size: 14px;
    border: solid 1px #fff;
    color: #fff;
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 125px;
    transition: all 0,1s ease-in-out;
}
.navButton:hover{
    background-color: #fff;
    color: rgb(0, 133, 111, 1);;
}
.body>.antra{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-top:120px;
}
.box-size{
    width: 1366px;
    margin: 0 calc(50%-683);
}
.fon2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: rgb(220, 233, 226);
    font-family: 'DM Sans', sans-serif;
    margin-top: 50px;
}
.text3{
    color: #000;
    margin-left: 125px;
    font-size: 1.2rem;
    
}
.text5{ 
    font-weight: bold;
    color: rgb(0, 133, 111, 1);
    }

.navigation2{
    display:flex;
    
    
}
.navigation2 ul{
    display:flex;
    gap: 30px;
    
}
.navigation2 ul li{
    list-style: none;
    
}
.navigation2 ul li a{
    text-decoration: none;
    color: rgb(0, 133, 111, 0.5);
    font-family: 'DM Sans', sans-serif;
    border-bottom: 2px solid transparent;
    padding-bottom: 1rem;
    
 
}
.navigation2 ul li a:hover,
.navigation2 ul li>.active2{
    border-color: rgb(0, 133, 111, 1);
    color: rgb(0, 133, 111, 1);
    
}
 .navButton2 {
    width: 12rem;
    height: 2.2rem;
    font-size: 14px;
    border: solid 1px rgb(0, 133, 111, 1);
    color:rgb(0, 133, 111, 1);
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 125px;
    transition: all 0,1s ease-in-out;
}
.navButton2:hover{
    background-color: #00856f;;
    color: #fff;
}
body .herosection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 125px;
    height: 606px;
    background-color: rgb(220, 233, 226);
}
   
.left-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    width: 40%;
    margin-bottom: 80px;
    
    
    
}
.herosection>.left-column>.heat-text{
    color: rgb(0, 133, 111, 1);
    font-weight: bold;
    font-size: 1rem;
}
.herosection-tittle{
    font-size: 50px;
    font-weight: 900;
}
.right-column{
    
}
.left-column>.button-herosection{
    width: 16rem;
    height: 2.9rem;
    font-size: 14px;
    border: solid 1px #fff;
    color: #fff;
    background-color: rgb(0, 133, 111, 1);
    font-family: 'DM Sans', sans-serif;
    border-radius: 40px;
    cursor: pointer;
   
      
}
.button-herosection:hover{
    background-color: rgb(12, 79, 67);
}
.left-column>.button-herosection>.fa-whatsapp {
    font-size: 20px;
    text-decoration: none;
    padding:0 8px;
}

